@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

* {
  box-sizing: border-box;
}
